// Colors
$purple: #5474FD;

$white: #FFFFFF;

$middle-gray: #999999;

$light-gray: #E8E8E8;

$blackgray: #232323;

$corall: #FF6363;

$light-blue: #00A2FF;

$section3-bg: #333333;

// Fonts
$font-josefin: 'Josefin Sans', sans-serif;

$font-aleo: 'Aleo', serif;