@import 'variables';

/* mobile width = 320px
tablet width = 768px
desktop width = 1440px */

/* Mobile */
.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    order: 1;
    display: flex;
    height: 40px;
    align-items: center;
    width: 100%;
    background: $purple;
    z-index: 1;
}

.logo {
    flex: 1;
    text-align: center;
    color: $white;
    font-family: $font-josefin;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;

}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.first-section {
    order: 2;
    background: url('../images/header.jpg') center center no-repeat;
    min-height: 821px;
    background-size: cover;
}

.logo-title, .logo-text {
    font-family: $font-josefin;
    color: $white;
    line-height: 26px;
}

.logo-title {
    font-size: 32px;
}

.logo-text {
    font-size: 22px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    width: 100%;
    border: 1px solid #000000;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input, .button {
    border: none;
    line-height: 26px;
}
  
.input {
    max-width: 500px;
    width: 100%;
    background-color: $white;
    padding: 2px 5px;
    font-family: $font-josefin;
    color: $middle-gray;
    text-align: center;
    font-size: 18px;
    border-right: 1px solid #000000;
}

.input::placeholder {
    font-size: 10px;
}
  
.button {
    max-width: 158px;
    width: 40%;
    background-color: $purple;
    border: 2px solid $white;
    color: $white;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    width: 100%;
    color: $white;
    font-family: $font-josefin;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.8px;
    text-align: center;
}

.scroll-link {
    text-decoration: none;
    line-height: 26px;
    color: $white;
    font-family: $font-josefin;
}

.second-section {
    order: 3;
    background: url('../images/section2.jpg') center center no-repeat;
    min-height: 685px;
    background-size: cover;

    .content {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        max-width: 580px;
    }

    .second-title {
        font-family: $font-aleo;
        color: $white;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    .second-text {
        font-family: $font-aleo;
        color: $white;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 1.6px;
        width: 80%;
    }

    .button {
        width: 80%;
        font-size: 12px;
        margin: 20px;
    }
    
    .photos-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;

        .photo1 {
            width: 70%;
            padding: 5px;
        }

        .photo2 {
            width: 70%;
            padding: 5px;
        }
    }
}
  
.third-section {
    order: 4;
    background: $section3-bg;
    min-height: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    .content-icons {
        max-width: 780px;
        width: 100%;
        padding: 2%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .dest-lines {
        width: 65%;
        position: 100%;
    }

    .icon {
        width: 15%;
    }

    .icons-container {
        width: 80%;
        display: flex;
        justify-content: space-between;
        z-index: 1;
    }
    
    .text-container {
        width: 80%;
        padding: 4% 2%;
        display: flex; 
        justify-content: space-between;
        align-items: flex-start;
        font-family: $font-aleo;
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
        color: $darker-white;
        text-align: center;
    }
}

.fourth-section {
    order: 5;
    background: url('../images/section4.jpg') center center no-repeat;
    min-height: 700px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .travel-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 60%;
        height: 70%;
    }

    .travel-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 543px;
        width: 100%;
        min-height: 374px;
        padding: 2%;
        background-color: $blackgray;
        opacity: 0.9;
    }
}

.second-fourth-section {
    order: 6;
    background: url('../images/section4-2.jpg') center center no-repeat;
    min-height: 700px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .travel-container2 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 60%;
        height: 70%;
    }

    .travel-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 543px;
        width: 100%;
        min-height: 374px;
        padding: 2%;
        background-color: $blackgray;
        opacity: 0.9;
    }
}



.fifth-section {
    order: 7;
    background: url('../images/section5.jpg') center center no-repeat;
    min-height: 730px;
}

.footer-section {
    order: 8;
    display: flex;
    min-height: 270px;
    background: $blackgray;
}

@media screen and (max-width: 768px) {
    .nav-mobile {
        display: flex;
        align-items: center;
    }
    
    .mobile-btn {
        background-color: $purple;
        padding: 8px;
        margin: 10px;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }

    .icon-dots {
        color: $white;
    }
    
    .nav-icon {
        position: relative;
        display: inline-block;
    }
    
    .nav-items {
        display: flex;
        position: absolute;
        background-color: $white;
        opacity: 0.8;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 10px;
        right: 0;
        cursor: pointer;
        top: 32px;
        padding: 2px;
    }
    
    .nav-item a {
        position: relative;
        display: inline-block;
        padding: 12px 12px 2px 12px;
        color: black;
        text-decoration: none;
        font-family: $font-aleo;
    }
    
    .nav-item:hover {
        border-bottom: 1px solid $purple;
    }
    
    .nav-icon:hover .nav-items {
        display: block;
    }
    
    .nav-icon:hover .mobile-btn {
        background-color: $purple;
    }

    .nav {
        flex: 1;
        display: none;
    }
      
    .nav-items {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        display: none;
    }

    .dest-lines {
        display: none;
    }
}

  /* Tablet */
@media (min-width: 768px) {
    .nav-mobile {
        display: none;
    }

    .header {
        height: 83px;
    }

    .nav {
        flex: 1;
    }
      
    .nav-items {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        color: $white;
        font-family: $font-aleo;
        font-size: 8px;
        line-height: 26px;
        text-transform: uppercase;
    }

    .nav-item a {
        position: relative;
        display: inline-block;
        padding: 12px 12px 2px 12px;
        color: $white;
        text-decoration: none;
        font-family: $font-aleo;
    }

    .header {
      order: 2;
    
    }

    .first-section {
      order: 1;
    }
    
    .second-section {
        order: 3;
        background: url('../images/section2.jpg') center center no-repeat;
        min-height: 685px;
        background-size: cover;
        flex-direction: row;
        
        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 20px;
            max-width: 580px;
        }
        
        .second-title {
            font-family: $font-aleo;
            color: $white;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            
            .second-text {
                font-family: $font-aleo;
                color: $white;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 26px;
                letter-spacing: 1.6px;
                width: 80%;
            }
            
            .button {
                width: 80%;
                font-size: 12px;
            }
        }
    }
    .icon-text {
        padding: 2%;
        font-size: 24px;
    }
    
    .photos-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        
        .photo1 {
            width: 100%;
            padding: 5px;
            align-self: flex-start;
        }

        .photo2 {
            width: 100%;
            padding: 5px;
            align-self: flex-end;
        }
    }
}
  
/* Desktop */
@media (min-width: 1100px) {
    /*.wrapper {
        display: flex;
        justify-content: space-between;
        width: 0 auto;
    }*/

    .nav-mobile {
        display: none;
    }

    .nav {
        flex: 1;
    }
      
    .nav-items {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        color: $white;
        font-family: $font-aleo;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .icons-container {
        width: 90%;
    }
}